@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
}
.nextui-c-ltVxD-crfSce-borderWeight-light {
  border: none;
}
.nextui-c-hWZRae-bzEnZV-borderWeight-normal {
  border: none;
}

.text-shadow:hover {
  text-shadow: "0 0 20px blue";
}
.nextui-avatar-img {
  border: none;
}
.nextui-c-eXOOPO {
  background: transparent;
}
.nextui-c-BDLTQ-fmlsco-borderWeight-light{
  border: none;
}